@import "tailwindcss";

/* :root {
  --slider-color: theme('colors.primary.DEFAULT', #0d6efd);
  --slider-background-color: theme('colors.primary.100', #cfe2ff);
} */

.slider {
  @apply h-4 rounded outline-none transition-opacity duration-200 opacity-50;

  @apply bg-blue-700;
}
.slider:hover {
  @apply opacity-100;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  /* background: var(--slider-color); */
  @apply bg-blue-700;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  /* background: var(--slider-color); */
  cursor: pointer;
  @apply bg-blue-700;
}